# cache from python
__pycache__

# any audio file
*.mp3
*.m4a
*.wav
*.webm

# any text file, requirements.txt will be added separately
*.txt

# any file I made for my ease to run a program or docker-image
*.sh

# files used to quick test the code in command line
test*

# for my API keys😜
*.env

# docker related files
.dockerignore